@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@theme {
  /* This automatically creates the 'font-roboto' utility class */
  --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
}

@import "tailwindcss";

@keyframes pop {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

